<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testcreatetask"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="com.bfr.buddy.resource.SPEECH" />
    <uses-permission android:name="com.bfr.buddy.resource.LISTEN" />
    <uses-permission android:name="com.bfr.buddy.resource.HEAD" />
    <uses-permission android:name="com.bfr.buddy.resource.WHEELS" />
    <uses-permission android:name="com.bfr.buddy.resource.LEDS" />
    <uses-permission android:name="com.bfr.buddy.resource.SENSOR_MODULE" />
    <uses-permission android:name="com.bfr.buddy.resource.FACE" />
    <uses-permission android:name="com.bfr.buddy.resource.GUI" />
    <uses-permission android:name="com.bfr.buddy.resource.VISION" />
    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BuddyTheme"
        tools:targetApi="30" >
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>